body {
  font-family: "Padauk", sans-serif;
  color: white;
  font-size: 1.2em;
  width: 100%;
  /* overflow: hidden; */
}

.content {
  padding-top: 75px;
  text-align: center;
  background-color: #2d2d2d;
  width: 100%;
}

.name-container {
  width: 100%;
  padding: 40px;
  justify-content: center;
}

.name {
  letter-spacing: 20px;
  padding-bottom: 40px;
  text-transform: uppercase;
  /* font-size: 3em; */
  width: 100%;
  font-size: 100%;
  overflow: hidden;
}

/* general style for headers */
.header {
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
  text-transform: uppercase;
  font-size: 2em;
}

/*general style for each content section container*/

.section {
  display: grid;
  width: auto;
  padding-top: 100px;
}

/* -------NAVBAR--------*/
/* 
.initials {
  font-weight: bold;
  font-size: 1.5em;
  float: left;
} */

/*general navbar styles*/
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

/*style the list of links */
/* .nav-list {
  padding-left: 200px;
  top: 0;
  list-style-type: none;
  overflow: hidden;
} */

/* style the navbar gif*/
.gif {
  width: 100px;
  height: 60px;
  float: left;
}

/*style the link containers */
/* .nav-item {
  text-align: center;
  text-decoration: none;
  width: 150px;
  height: 60px;
  padding-top: 15px;
  float: left;
} */

/*style the individual links themselves */
.nav-link {
  color: var(--black);
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  padding: 15px;
}

/* style the link containers when hovered */
/* .list-item:hover {
  } */

/* style individual link when hovered */
.nav-link:hover {
  text-align: center;
  text-decoration: none;
  font-size: 0.7em;
  padding: 15px;
}

.aboutLink:hover {
  color: coral;
}

.workLink:hover {
  color: var(--slate);
}

.projectsLink:hover {
  color: var(--lemon);
}

.contactLink:hover {
  color: var(--stone);
}

/* home section */
.home {
  /* border: solid 10px blue; */
}

.welcome-gif {
  height: 200px;
  width: 100%;
  /* border: solid 10px coral; */
}

.animated-text {
  padding-top: 50px;
  /* border: solid 10px coral; */
  width: 100%;
}

/* about section */

.about {
  /* border: 10px solid coral; */
  margin-top: 50px;
}

.about-content {
  display: grid;
  padding: 10px 0px 10px 20px;
}
.my-image {
  width: 280px;
  height: 660px;
  /* border: solid 10px yellow; */
  border-radius: 15px;
}

.about-header {
  color: var(--slate);
  text-align: center;
}

.about-text {
  margin: 50px;
  text-align: left;
  color: var(--gray4);
}

/* experience section */

.work {
  color: var(--lemon);
}

.education {
  color: coral;
}

.job {
  color: var(--lemon);
}

.degree {
  color: coral;
}

/* projects slideshow */
.slideshow{
  width: 100%;
  position: relative;
  margin: auto;
}

/* hide images by default*/
.slides{
  display:none; 
}

/* next and prev buttons */
.previous, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.previous:hover, .next:hover{
  background-color: rgba(0,0,0,0.8);
}

/* nextd button specific to right */
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*caption text styles*/
.slideText{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;

}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* form */

.form-content {
  padding: 40px;
}

.form-title {
  font-size: 2.5em;
  text-transform: uppercase;
}

.form-element {
  margin: 20px 10px 20px 10px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border: 2px solid slategray; */
}

/*style the input labels */
.label {
  font-weight: bold;
  float: left;
}

/* style the input containers */
.input {
  border: 0.5px solid var(--stone);
  width: 100%;
  border-radius: 5px;
  background-color: #999999;
  text-align: start;
}

#message {
  height: 200px;
}

/*style submit button */
.btn-primary {
  float: left;
  color: var(--white);
  border-width: 1px;
  border-color: var(--white);
  border-radius: 3px;
  background-color: var(--gray2);
}

/*style submit button when hovered */
.btn-primary:hover {
  background-color: var(--slate);
  color: var(--white);
  border-style: solid;
  border-color: var(--black);
  border-width: 1px;
}

/*style reset button */
.btn-secondary {
  float: left;
  margin-left: 20px;
  background-color: var(--gray2);
  color: var(--white);
  border: solid;
  border-color: var(--black);
  border-width: 1px;
  border-radius: 3px;
}

/*style reset button when hovered*/
.btn-secondary:hover {
  background-color: var(--slate);
  color: var(--white);
  border-style: solid;
  border-color: var(--black);
  border-width: 1px;
}

/* media queries */

/* mobile first */
@media (max-width: 320px) {
  /* mobile about */

  .body {
    width: 100%;
  }

  .name {
    font-size: 100%;
    width: 100%;
    overflow: hidden;
    letter-spacing: 10px;
  }

  .img-container {
    width: 100%;
  }

  .about-text {
    margin: 15px;
    text-align: center;
  }

  /* mobile experience */
  .experience {
    width: 100%;
    /* border: 10px solid var(--slate); */
  }

  .aboutText {
    padding: 0px 10px 0px 10px;
  }

  .myWork {
    display: grid;
    width: 100%;
    grid-row-gap: 50px;
    /* border: 10px solid var(--white); */
    border-bottom: 10px solid coral;
  }

  .job {
    padding: 0px 10px 0px 10px;
  }

  .degree {
    padding: 0px 10px 0px 10px;
  }

  .myEdu {
    display: grid;
    grid-row-gap: 50px;
    /* border: 10px solid var(--white); */
  }

  /* mobile projects */
  .projects {
    width: 100%;
  }

  /* mobile form */
  .form-content {
    width: 100%;
  }
}

/* tablet */
@media (min-width: 321px) and (max-width: 768px) {
  /* tablet home */
  .welcome-gif {
    background-color: white;
  }

  /* tablet about */

  .name {
    font-size: 1.5em;
    letter-spacing: 5px;
    overflow: hidden;
  }

  .about-content {
    display: grid;
    align-items: center;
    border: 1px solid black;
  }

  .about-text {
  }

  /* tablet experience */
  .experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 10px solid var(--slate); */
    padding: 10px;
  }

  .myWork {
    display: grid;
    width: 100%;
    grid-row-gap: 50px;
    /* border: 10px solid var(--white); */
    border-right: 10px solid coral;
  }

  .myEdu {
    display: grid;
    grid-row-gap: 50px;
    /* border: 10px solid var(--white); */
  }

  /* tablet projects */
  .projects {
    width: 100%;
  }

  /* tablet form */
  .form-content {
    width: 100%;
  }
}

/* desktop */
@media (min-width: 769px) {
  /* desktop home */

  .welcome-gif {
    background-color: white;
    float: right;
  }

  .name {
    font-size: 3em;
  }

  /* desktop about */
  .about-content {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
  }

  /* dekstop experience */
  .experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 10px solid var(--slate); */
  }

  .myWork {
    display: grid;
    width: 100%;
    grid-row-gap: 50px;
    /* border: 10px solid var(--white); */
    border-right: 10px solid coral;
  }

  .myEdu {
    display: grid;
    /* grid-column: span2; */
    grid-row-gap: 50px;
    /* border: 10px solid var(--white); */
  }

  /* tablet projects */

  .projects {
    width: 100%;
  }

  .form {
    justify-items: center;
  }
  /* tablet form */
  .form-content {
    width: 750px;
    /* border: 10px solid var(--white); */
  }
}
