:root {
  --slate: #6578b5;
  --lemon: #fad352;
  --stone: #a8a8a8;
  --blue: #275fec;
  --coral: coral;
  --seafoam: #00cc99;

  --white: #ffffff;
  --darkGray: #2d2d2d;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --cyan: #17a2b8;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;
}
